{% extends "base.html" %}


{% block title %}
Home | Shreyansh
{% endblock %}


{% block content %}


<!-- ==================== HERO ==================== -->

<section id="home" class="hero">

    <div class="container hero-container">


        <div class="hero-content">


            <p class="greeting">
                Hello, I'm
            </p>


            <h1>
                Shreyansh
            </h1>


            <h2>
                Computer Science Student
            </h2>


            <p class="hero-description">

                I am a Computer Science student interested in
                backend development, APIs, databases and
                building practical software projects.

            </p>


            <div class="hero-buttons">


                <a
                    href="/projects"
                    class="btn primary-btn"
                >
                    View Projects
                </a>


                <a
                    href="/contact"
                    class="btn secondary-btn"
                >
                    Contact Me
                </a>


                <a
                    href="/static/resume/Shreyansh_Resume.pdf"
                    download="Shreyansh_Resume.pdf"
                    class="btn secondary-btn"
                >
                    Download Resume
                </a>


            </div>


        </div>


    </div>

</section>


{% endblock %}